.git
.gitignore
.editorconfig
.pylintrc
.vscode
docs
dist
build
*.egg-info
__pycache__
*.pyc
*.pyz
screenshot.png
dodo.py
compress.sh
dev-requirements.txt
Dockerfile
docker-compose.yml
.dockerignore
CLAUDE.md
